@{
    var featureName = ViewContext.RouteData.Values["controller"]?.ToString();

    var featureDisplayNames = new Dictionary<string, string>(StringComparer.OrdinalIgnoreCase)
{
{ "Home", "Trang chủ" },
{ "Book", "sách" },
{ "Customer", "khách hàng" },
{ "Employee", "nhân viên" },
{ "Supplier", "nhà cung cấp" },
{ "Inventory", "kho" },
{ "Sales", "bán hàng" },
{ "Report", "báo cáo" },
{ "Promotion", "khuyến mãi" },
{ "Setting", "cài đặt" }
};

    var featureDisplayName = featureDisplayNames.ContainsKey(featureName ?? "")
    ? featureDisplayNames[featureName!]
    : featureName ?? "chức năng";

}

<form class="search-block d-flex flex-row gap-0 px-4 py-2 border border-sencondary rounded my-4">
    <input class="search-input border-0" type="text" placeholder="Tìm kiếm @featureDisplayName ...">
</form>