@{
    var featureName = ViewContext.RouteData.Values["controller"]?.ToString();

    var featureDisplayNames = new Dictionary<string, string>(StringComparer.OrdinalIgnoreCase)
{
{ "Home", "Trang chủ" },
{ "Book", "sách" },
{ "Customer", "khách hàng" },
{ "Employee", "nhân viên" },
{ "Supplier", "nhà cung cấp" },
{ "Inventory", "kho" },
{ "Sales", "bán hàng" },
{ "Report", "báo cáo" },
{ "Promotion", "khuyến mãi" },
{ "Setting", "cài đặt" }
};

    var featureDisplayName = featureDisplayNames.ContainsKey(featureName ?? "")
    ? featureDisplayNames[featureName!]
    : featureName ?? "chức năng";

}

<form id="@( "searchFormFor" + featureName )" class="search-block d-flex flex-row gap-0 px-4 py-2 border border-secondary rounded my-4">
    <div class="input-group">
        <input name="inputTxt" type="text" class="form-control" placeholder="Tìm kiếm @featureDisplayName ..." />
        <button id="searchBtn" type="submit" class="btn btn-outline-secondary">
            <i class="bi bi-search"></i>
        </button>
    </div>
</form>