<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookstoreManagement</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BookstoreManagement.styles.css" asp-append-version="true" />
</head>

<style>

</style>

<body>
    <header>
        <partial name="_Navbar" />
    </header>
    <div class="content-frame">
        <div class="row main-row">
            @* Sidebar các nút chức năng *@
            <partial name="_Sidebar" />


            @* Nội dung chức năng *@
            <div class="content-container col-11">
                <div class="content">
                    @RenderBody()
                </div>
            </div>

        </div>

        @* Footer *@
        <partial name="_Footer" />
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js">
    </script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/5ca8a4e942.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>