@{
    var feature = TempData["CurrentFeature"]?.ToString();
}


<div class=" sidebar col-1">
    @* Hàm onclick được cài đặt trong site.js *@
    <button class="function-button" data-bs-toggle="modal" data-bs-target="#featureModal" data-feature="@feature"
        data-action="add">
        <img src="~/images/plus_icon.png" alt="Logo" class="function-button-image" />
    </button>

    <button class="function-button" data-feature="@feature" data-action="delete">
        <img src="~/images/trash_icon.png" alt="Logo" class="function-button-image" />
    </button>

    <button class="function-button" data-feature="@feature" data-action="update">
        <img src="~/images/update_icon.png" alt="Logo" class="function-button-image" />
    </button>

    <button class="function-button" data-feature="@feature" data-action="refresh">
        <img src="~/images/refresh_icon.png" alt="Logo" class="function-button-image" />
    </button>
</div>