<div class=" sidebar col-1">

    <button class="function-button">
        <img src="~/images/plus_icon.png" alt="Logo" class="function-button-image" />
    </button>

    <button class="function-button">
        <img src="~/images/trash_icon.png" alt="Logo" class="function-button-image" />
    </button>

    <button class="function-button">
        <img src="~/images/update_icon.png" alt="Logo" class="function-button-image" />
    </button>

    <button class="function-button">
        <img src="~/images/refresh_icon.png" alt="Logo" class="function-button-image" />
    </button>
</div>