@{
    ViewData["Title"] = "Quên mật khẩu";
}
@model BookstoreManagement.ViewModels.Account.ForgotPasswordViewModel

<style>
    body {
        background-color: #fff;
    }

    .forgot-password-logo {
        display: block;
        margin: auto;
        width: 200px;
        height: auto;
    }

    label,
    button,
    .forgot-password-btn,
    .form-group,
    .form-group input {
        font-size: 20px;
    }

    .form-group input {
        border: 1px solid #9c9c9c;
        outline: #1976D2 !important;
        padding: 10px;
    }

    .forgot-password-form {
        display: flex;
        flex-direction: column !important;
        gap: 20px !important;
    }

    .form-group {
        display: flex;
        flex-direction: column !important;
        gap: 10px !important;
    }

    .forgot-password-btn {
        padding: 15px 0px !important;
    }

    .form-group a {
        color: #1976D2 !important;
        font-style: inherit;
        text-decoration: inherit;
    }
</style>

<img src="~/images/bookstore_logo1.jpg" alt="Logo" class="forgot-password-logo" />

<form method="post" asp-action="ForgotPassword" class="forgot-password-form container w-50">
    @Html.AntiForgeryToken()

    <div class="form-group mb-3">
        <label>Email</label>
        <input asp-for="Email" class="form-control" name="email" placeholder="Nhập email" required />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <button class="forgot-password-btn btn btn-primary w-100">Xác nhận</button>
</form>