@{
    ViewData["Title"] = "Email đặt lại mật khẩu";
}

<h2 class="text-center text-primary">Chúng tôi đã gửi email hướng dẫn đặt lại mật khẩu.</h2>
<p class="text-center text-primary">Vui lòng kiểm tra hộp thư của bạn.</p>