@{
    ViewData["Title"] = "Đặt lại mật khẩu thành công";
    bool isAdmin = ViewBag.IsAdmin ?? false;
}

<h2 class="text-center text-primary">Mật khẩu của bạn đã được thay đổi thành công.</h2>
@if (isAdmin)
{
    <p class="text-center text-primary"><a asp-controller="Account" asp-action="Login"
            class="login-btn btn btn-primary w-100">Đăng nhập quản trị</a></p>
}
else
{
    <p class="text-center text-primary"><a asp-controller="Account" asp-action="ClientLogin"
            class="login-btn btn btn-primary w-100">Đăng nhập</a></p>
}