USE [master]
GO
/****** Object:  Database [Bookstore]    Script Date: 12/10/2025 5:26:36 PM ******/
CREATE DATABASE [Bookstore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Bookstore', FILENAME = N'C:\Users\tito7\OneDrive\Máy tính\CNTT _ Thai_Tuan\CoSoDuLieu\MSSQL16.SQLEXPRESS01\MSSQL\DATA\Bookstore.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Bookstore_log', FILENAME = N'C:\Users\tito7\OneDrive\Máy tính\CNTT _ Thai_Tuan\CoSoDuLieu\MSSQL16.SQLEXPRESS01\MSSQL\DATA\Bookstore_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Bookstore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Bookstore]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 12/10/2025 5:26:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Authors]    Script Date: 12/10/2025 5:26:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authors](
	[AuthorID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Bio] [text] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[DateOfBirth] [datetime2](7) NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[Nationality] [nvarchar](50) NULL,
	[Pseudonym] [nvarchar](100) NULL,
	[Website] [nvarchar](255) NULL,
 CONSTRAINT [PK__Authors__70DAFC14563BCCAD] PRIMARY KEY CLUSTERED 
(
	[AuthorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookCategories]    Script Date: 12/10/2025 5:26:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookCategories](
	[BookID] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
 CONSTRAINT [PK_BookCategories] PRIMARY KEY CLUSTERED 
(
	[BookID] ASC,
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookPromotions]    Script Date: 12/10/2025 5:26:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookPromotions](
	[BookID] [int] NOT NULL,
	[PromotionID] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookRatings]    Script Date: 12/10/2025 5:26:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookRatings](
	[RatingId] [int] IDENTITY(1,1) NOT NULL,
	[BookId] [int] NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[RatingValue] [int] NOT NULL,
	[Comment] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_BookRatings] PRIMARY KEY CLUSTERED 
(
	[RatingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 12/10/2025 5:26:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[BookID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[AuthorID] [int] NOT NULL,
	[PublisherID] [int] NOT NULL,
	[PublicationYear] [int] NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[StockQuantity] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[LowStockThreshold] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[IsDeleted] [bit] NULL,
	[ImageUrl] [nvarchar](255) NULL,
	[AverageRating] [float] NOT NULL,
	[TotalRatings] [int] NOT NULL,
 CONSTRAINT [PK__Books__3DE0C22769882623] PRIMARY KEY CLUSTERED 
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 12/10/2025 5:26:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](100) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK__Categori__19093A2B9C1A5785] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Code]    Script Date: 12/10/2025 5:26:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Code](
	[CodeID] [int] IDENTITY(1,1) NOT NULL,
	[Entity] [varchar](50) NOT NULL,
	[Key] [int] NOT NULL,
	[Value] [nvarchar](100) NOT NULL,
	[Note] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK__Code__C6DE2C3566AC2DA9] PRIMARY KEY CLUSTERED 
(
	[CodeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 12/10/2025 5:26:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [nvarchar](450) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Phone] [varchar](20) NOT NULL,
	[Email] [varchar](100) NULL,
	[Address] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK__Customer__A4AE64B8FCCB6238] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExportDetails]    Script Date: 12/10/2025 5:26:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExportDetails](
	[ExportDetailID] [int] IDENTITY(1,1) NOT NULL,
	[ExportID] [int] NOT NULL,
	[BookID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[Subtotal] [decimal](18, 2) NULL,
	[Note] [nvarchar](255) NULL,
 CONSTRAINT [PK__ExportDe__07C90359179E2C60] PRIMARY KEY CLUSTERED 
(
	[ExportDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExportTickets]    Script Date: 12/10/2025 5:26:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExportTickets](
	[ExportID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [nvarchar](450) NOT NULL,
	[ReferenceID] [int] NULL,
	[Date] [datetime] NULL,
	[TotalQuantity] [int] NULL,
	[Status] [nvarchar](100) NOT NULL,
	[Reason] [nvarchar](100) NOT NULL,
	[DocumentNumber] [varchar](50) NULL,
	[Note] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK__ExportTi__E5C997A4BDE4968A] PRIMARY KEY CLUSTERED 
(
	[ExportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImportDetails]    Script Date: 12/10/2025 5:26:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImportDetails](
	[ImportDetailID] [int] IDENTITY(1,1) NOT NULL,
	[ImportID] [int] NOT NULL,
	[BookID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[CostPrice] [decimal](18, 2) NOT NULL,
	[Subtotal] [decimal](18, 2) NULL,
	[Discount] [decimal](5, 2) NULL,
	[Note] [nvarchar](255) NULL,
 CONSTRAINT [PK__ImportDe__CDFBBA5111601CDF] PRIMARY KEY CLUSTERED 
(
	[ImportDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImportTickets]    Script Date: 12/10/2025 5:26:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImportTickets](
	[ImportID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [nvarchar](450) NOT NULL,
	[SupplierID] [int] NOT NULL,
	[Date] [datetime] NULL,
	[TotalQuantity] [int] NULL,
	[TotalCost] [decimal](18, 2) NULL,
	[Status] [nvarchar](100) NOT NULL,
	[PaymentMethodID] [int] NULL,
	[DocumentNumber] [varchar](50) NULL,
	[Note] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK__ImportTi__8697678A2864034F] PRIMARY KEY CLUSTERED 
(
	[ImportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 12/10/2025 5:26:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderDetailID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[BookID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[Subtotal] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK__OrderDet__D3B9D30CFA61025F] PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 12/10/2025 5:26:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [nvarchar](450) NULL,
	[UserID] [nvarchar](450) NOT NULL,
	[PromotionID] [int] NULL,
	[PaymentMethodID] [int] NOT NULL,
	[OrderDate] [datetime] NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[DiscountAmount] [decimal](18, 2) NULL,
	[FinalAmount] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](100) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK__Orders__C3905BAF071592E8] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 12/10/2025 5:26:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissions](
	[PermissionID] [int] IDENTITY(1,1) NOT NULL,
	[PermissionName] [varchar](50) NOT NULL,
	[Description] [nvarchar](100) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK__Permissi__EFA6FB0F5C37F42D] PRIMARY KEY CLUSTERED 
(
	[PermissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotions]    Script Date: 12/10/2025 5:26:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotions](
	[PromotionID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[TypeID] [int] NOT NULL,
	[DiscountPercent] [decimal](5, 2) NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[MinPurchaseAmount] [decimal](18, 2) NULL,
	[GiftBookID] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK__Promotio__52C42F2F1E994C2A] PRIMARY KEY CLUSTERED 
(
	[PromotionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publishers]    Script Date: 12/10/2025 5:26:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publishers](
	[PublisherID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
	[Email] [varchar](100) NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[Phone] [varchar](20) NULL,
	[Website] [nvarchar](255) NULL,
 CONSTRAINT [PK__Publishe__4C657E4B05BFBD93] PRIMARY KEY CLUSTERED 
(
	[PublisherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleClaims]    Script Date: 12/10/2025 5:26:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](max) NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_RoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolePermissions]    Script Date: 12/10/2025 5:26:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolePermissions](
	[RoleID] [nvarchar](450) NOT NULL,
	[PermissionID] [int] NOT NULL,
	[PermissionId1] [int] NULL,
	[AppRoleId] [nvarchar](450) NULL,
 CONSTRAINT [PK_RolePermissions] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC,
	[PermissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 12/10/2025 5:26:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [nvarchar](450) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[Salary] [decimal](18, 2) NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[Name] [nvarchar](max) NULL,
	[NormalizedName] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupplierBooks]    Script Date: 12/10/2025 5:26:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupplierBooks](
	[SupplierID] [int] NOT NULL,
	[BookID] [int] NOT NULL,
	[DefaultCostPrice] [decimal](18, 2) NULL,
 CONSTRAINT [PK_SupplierBooks] PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC,
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 12/10/2025 5:26:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SupplierID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[ContactInfo] [nvarchar](255) NULL,
	[Address] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK__Supplier__4BE666942AC8CE28] PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserClaims]    Script Date: 12/10/2025 5:26:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](max) NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_UserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLogins]    Script Date: 12/10/2025 5:26:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](max) NULL,
 CONSTRAINT [PK_UserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 12/10/2025 5:26:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/10/2025 5:26:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [nvarchar](450) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[NormalizedUserName] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[NormalizedEmail] [nvarchar](max) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[Address] [nvarchar](255) NULL,
	[IsDefaultPassword] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTokens]    Script Date: 12/10/2025 5:26:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_UserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250930185158_InitIdentity', N'9.0.9')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251006151442_Fix', N'9.0.9')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251006151814_Fix2', N'9.0.9')
GO
SET IDENTITY_INSERT [dbo].[Authors] ON 

INSERT [dbo].[Authors] ([AuthorID], [Name], [Bio], [CreatedAt], [UpdatedAt], [DateOfBirth], [ImageUrl], [Nationality], [Pseudonym], [Website]) VALUES (1, N'Diệp Lạc Vô Tâm', NULL, CAST(N'2025-12-03T17:34:32.423' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Authors] ([AuthorID], [Name], [Bio], [CreatedAt], [UpdatedAt], [DateOfBirth], [ImageUrl], [Nationality], [Pseudonym], [Website]) VALUES (2, N'Nguyễn Nhật Ánh', NULL, CAST(N'2025-12-03T17:36:37.463' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Authors] ([AuthorID], [Name], [Bio], [CreatedAt], [UpdatedAt], [DateOfBirth], [ImageUrl], [Nationality], [Pseudonym], [Website]) VALUES (3, N'Dan Brown', NULL, CAST(N'2025-12-03T17:36:45.080' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Authors] OFF
GO
INSERT [dbo].[BookCategories] ([BookID], [CategoryID]) VALUES (9, 1)
INSERT [dbo].[BookCategories] ([BookID], [CategoryID]) VALUES (11, 1)
INSERT [dbo].[BookCategories] ([BookID], [CategoryID]) VALUES (12, 1)
GO
SET IDENTITY_INSERT [dbo].[BookRatings] ON 

INSERT [dbo].[BookRatings] ([RatingId], [BookId], [UserId], [RatingValue], [Comment], [CreatedAt]) VALUES (1, 10, N'bfcf33ea-effc-46d4-9bd1-fe2e1b2d3ad1', 4, N'Sách khá hay', CAST(N'2025-12-10T11:52:42.6315911' AS DateTime2))
SET IDENTITY_INSERT [dbo].[BookRatings] OFF
GO
SET IDENTITY_INSERT [dbo].[Books] ON 

SET IDENTITY_INSERT [dbo].[Books] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [Name], [Description], [CreatedAt], [UpdatedAt]) VALUES (1, N'Tiểu thuyết', NULL, CAST(N'2025-12-08T08:33:11.750' AS DateTime), NULL)
INSERT [dbo].[Categories] ([CategoryID], [Name], [Description], [CreatedAt], [UpdatedAt]) VALUES (2, N'Tình cảm', NULL, CAST(N'2025-12-08T08:33:17.613' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Code] ON 

INSERT [dbo].[Code] ([CodeID], [Entity], [Key], [Value], [Note], [CreatedAt], [UpdatedAt]) VALUES (1, N'PromotionType', 1, N'Giảm giá theo phần trăm', NULL, CAST(N'2025-12-03T17:29:00.613' AS DateTime), NULL)
INSERT [dbo].[Code] ([CodeID], [Entity], [Key], [Value], [Note], [CreatedAt], [UpdatedAt]) VALUES (2, N'PromotionType', 2, N'Giảm giá cố định', NULL, CAST(N'2025-12-03T17:29:00.613' AS DateTime), NULL)
INSERT [dbo].[Code] ([CodeID], [Entity], [Key], [Value], [Note], [CreatedAt], [UpdatedAt]) VALUES (3, N'PromotionType', 3, N'Tặng sách', NULL, CAST(N'2025-12-03T17:29:00.613' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Code] OFF
GO
INSERT [dbo].[Customers] ([CustomerID], [FullName], [Phone], [Email], [Address], [CreatedAt], [UpdatedAt], [IsActive]) VALUES (N'02ff1bfb-4ce7-4a2d-8ee2-22c708d4d259', N'Tuấn Thái', N'0902451316', N'tuanthai17122004@gmail.com', N'Địa chỉ B', CAST(N'2025-12-05T10:46:02.737' AS DateTime), CAST(N'2025-12-05T10:46:02.737' AS DateTime), 1)
INSERT [dbo].[Customers] ([CustomerID], [FullName], [Phone], [Email], [Address], [CreatedAt], [UpdatedAt], [IsActive]) VALUES (N'73fae8c5-435e-433e-b36d-15b19f011b8a', N'vãng lai', N'00000000', N'vanglai@gmail.com', NULL, CAST(N'2025-12-08T13:35:59.223' AS DateTime), CAST(N'2025-12-08T13:35:59.223' AS DateTime), 1)
INSERT [dbo].[Customers] ([CustomerID], [FullName], [Phone], [Email], [Address], [CreatedAt], [UpdatedAt], [IsActive]) VALUES (N'd6fc5924-cd03-4746-ac01-5df71ebae8eb', N'Khách lẻ', N'0000000000', N'walkin@store.com', N'Tại quầy', CAST(N'2025-12-04T05:07:46.973' AS DateTime), CAST(N'2025-12-04T05:07:46.973' AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[ExportDetails] ON 

INSERT [dbo].[ExportDetails] ([ExportDetailID], [ExportID], [BookID], [Quantity], [UnitPrice], [Subtotal], [Note]) VALUES (1, 1, 4, 1, CAST(189000.00 AS Decimal(18, 2)), CAST(189000.00 AS Decimal(18, 2)), N'Xuất bán')
INSERT [dbo].[ExportDetails] ([ExportDetailID], [ExportID], [BookID], [Quantity], [UnitPrice], [Subtotal], [Note]) VALUES (2, 1, 3, 1, CAST(175000.00 AS Decimal(18, 2)), CAST(175000.00 AS Decimal(18, 2)), N'Xuất bán')
INSERT [dbo].[ExportDetails] ([ExportDetailID], [ExportID], [BookID], [Quantity], [UnitPrice], [Subtotal], [Note]) VALUES (3, 1, 5, 1, CAST(70000.00 AS Decimal(18, 2)), CAST(70000.00 AS Decimal(18, 2)), N'Xuất bán')
SET IDENTITY_INSERT [dbo].[ExportDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[ExportTickets] ON 

INSERT [dbo].[ExportTickets] ([ExportID], [UserID], [ReferenceID], [Date], [TotalQuantity], [Status], [Reason], [DocumentNumber], [Note], [CreatedAt], [UpdatedAt]) VALUES (1, N'bfcf33ea-effc-46d4-9bd1-fe2e1b2d3ad1', 1, CAST(N'2025-12-03T18:16:14.793' AS DateTime), 4, N'Completed', N'Bán hàng (POS)', N'PX1764760574', NULL, CAST(N'2025-12-03T18:16:14.797' AS DateTime), CAST(N'2025-12-03T18:16:14.797' AS DateTime))
INSERT [dbo].[ExportTickets] ([ExportID], [UserID], [ReferenceID], [Date], [TotalQuantity], [Status], [Reason], [DocumentNumber], [Note], [CreatedAt], [UpdatedAt]) VALUES (2, N'bfcf33ea-effc-46d4-9bd1-fe2e1b2d3ad1', 2, CAST(N'2025-12-04T04:43:05.440' AS DateTime), 4, N'Completed', N'Bán hàng (POS)', N'PX1764798185', NULL, CAST(N'2025-12-04T04:43:05.440' AS DateTime), CAST(N'2025-12-04T04:43:05.440' AS DateTime))
INSERT [dbo].[ExportTickets] ([ExportID], [UserID], [ReferenceID], [Date], [TotalQuantity], [Status], [Reason], [DocumentNumber], [Note], [CreatedAt], [UpdatedAt]) VALUES (3, N'bfcf33ea-effc-46d4-9bd1-fe2e1b2d3ad1', 3, CAST(N'2025-12-04T05:07:47.163' AS DateTime), 4, N'Completed', N'Bán hàng (POS)', N'PX1764799667', NULL, CAST(N'2025-12-04T05:07:47.167' AS DateTime), CAST(N'2025-12-04T05:07:47.167' AS DateTime))
SET IDENTITY_INSERT [dbo].[ExportTickets] OFF
GO
SET IDENTITY_INSERT [dbo].[ImportDetails] ON 

INSERT [dbo].[ImportDetails] ([ImportDetailID], [ImportID], [BookID], [Quantity], [CostPrice], [Subtotal], [Discount], [Note]) VALUES (1, 1, 1, 30, CAST(115000.00 AS Decimal(18, 2)), CAST(3450000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(5, 2)), NULL)
INSERT [dbo].[ImportDetails] ([ImportDetailID], [ImportID], [BookID], [Quantity], [CostPrice], [Subtotal], [Discount], [Note]) VALUES (2, 1, 2, 30, CAST(45000.00 AS Decimal(18, 2)), CAST(1350000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(5, 2)), NULL)
INSERT [dbo].[ImportDetails] ([ImportDetailID], [ImportID], [BookID], [Quantity], [CostPrice], [Subtotal], [Discount], [Note]) VALUES (3, 2, 5, 50, CAST(32000.00 AS Decimal(18, 2)), CAST(1600000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(5, 2)), NULL)
SET IDENTITY_INSERT [dbo].[ImportDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[ImportTickets] ON 

INSERT [dbo].[ImportTickets] ([ImportID], [UserID], [SupplierID], [Date], [TotalQuantity], [TotalCost], [Status], [PaymentMethodID], [DocumentNumber], [Note], [CreatedAt], [UpdatedAt]) VALUES (1, N'bfcf33ea-effc-46d4-9bd1-fe2e1b2d3ad1', 1, CAST(N'2025-12-03T17:55:43.747' AS DateTime), 60, CAST(4800000.00 AS Decimal(18, 2)), N'Completed', NULL, N'PN1764759343', NULL, CAST(N'2025-12-03T17:55:43.763' AS DateTime), CAST(N'2025-12-03T17:55:43.763' AS DateTime))
INSERT [dbo].[ImportTickets] ([ImportID], [UserID], [SupplierID], [Date], [TotalQuantity], [TotalCost], [Status], [PaymentMethodID], [DocumentNumber], [Note], [CreatedAt], [UpdatedAt]) VALUES (2, N'bfcf33ea-effc-46d4-9bd1-fe2e1b2d3ad1', 2, CAST(N'2025-12-03T17:56:00.803' AS DateTime), 100, CAST(3600000.00 AS Decimal(18, 2)), N'Completed', NULL, N'PN1764759360', NULL, CAST(N'2025-12-03T17:56:00.807' AS DateTime), CAST(N'2025-12-03T17:56:00.807' AS DateTime))
INSERT [dbo].[ImportTickets] ([ImportID], [UserID], [SupplierID], [Date], [TotalQuantity], [TotalCost], [Status], [PaymentMethodID], [DocumentNumber], [Note], [CreatedAt], [UpdatedAt]) VALUES (3, N'bfcf33ea-effc-46d4-9bd1-fe2e1b2d3ad1', 3, CAST(N'2025-12-03T17:56:17.350' AS DateTime), 50, CAST(3850000.00 AS Decimal(18, 2)), N'Completed', NULL, N'PN1764759377', NULL, CAST(N'2025-12-03T17:56:17.363' AS DateTime), CAST(N'2025-12-03T17:56:17.363' AS DateTime))
SET IDENTITY_INSERT [dbo].[ImportTickets] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [BookID], [Quantity], [UnitPrice], [Subtotal]) VALUES (1, 1, 4, 1, CAST(189000.00 AS Decimal(18, 2)), CAST(189000.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [BookID], [Quantity], [UnitPrice], [Subtotal]) VALUES (2, 1, 3, 1, CAST(175000.00 AS Decimal(18, 2)), CAST(175000.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [BookID], [Quantity], [UnitPrice], [Subtotal]) VALUES (3, 1, 5, 1, CAST(70000.00 AS Decimal(18, 2)), CAST(70000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [CustomerID], [UserID], [PromotionID], [PaymentMethodID], [OrderDate], [TotalAmount], [DiscountAmount], [FinalAmount], [Status], [CreatedAt], [UpdatedAt]) VALUES (1, N'f6e43f6c-4ac0-4a3a-995e-0790eeb6aa6e', N'bfcf33ea-effc-46d4-9bd1-fe2e1b2d3ad1', 2, 1, CAST(N'2025-12-03T18:16:14.717' AS DateTime), CAST(434000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(434000.00 AS Decimal(18, 2)), N'Completed', CAST(N'2025-12-03T18:16:14.780' AS DateTime), NULL)
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [UserID], [PromotionID], [PaymentMethodID], [OrderDate], [TotalAmount], [DiscountAmount], [FinalAmount], [Status], [CreatedAt], [UpdatedAt]) VALUES (2, N'f6e43f6c-4ac0-4a3a-995e-0790eeb6aa6e', N'bfcf33ea-effc-46d4-9bd1-fe2e1b2d3ad1', 2, 1, CAST(N'2025-12-04T04:43:05.310' AS DateTime), CAST(434000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(434000.00 AS Decimal(18, 2)), N'Completed', CAST(N'2025-12-04T04:43:05.417' AS DateTime), NULL)
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [UserID], [PromotionID], [PaymentMethodID], [OrderDate], [TotalAmount], [DiscountAmount], [FinalAmount], [Status], [CreatedAt], [UpdatedAt]) VALUES (3, N'd6fc5924-cd03-4746-ac01-5df71ebae8eb', N'bfcf33ea-effc-46d4-9bd1-fe2e1b2d3ad1', 2, 1, CAST(N'2025-12-05T05:07:47.103' AS DateTime), CAST(239000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(239000.00 AS Decimal(18, 2)), N'Completed', CAST(N'2025-12-04T05:07:47.147' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Permissions] ON 

INSERT [dbo].[Permissions] ([PermissionID], [PermissionName], [Description], [CreatedAt], [UpdatedAt]) VALUES (46, N'Order.View', N'Xem danh sách và chi tiết đơn hàng', CAST(N'2025-12-07T14:07:59.763' AS DateTime), CAST(N'2025-12-07T14:07:59.763' AS DateTime))
INSERT [dbo].[Permissions] ([PermissionID], [PermissionName], [Description], [CreatedAt], [UpdatedAt]) VALUES (47, N'Order.Create', N'Tạo đơn hàng mới (Bán hàng POS)', CAST(N'2025-12-07T14:07:59.763' AS DateTime), CAST(N'2025-12-07T14:07:59.763' AS DateTime))
INSERT [dbo].[Permissions] ([PermissionID], [PermissionName], [Description], [CreatedAt], [UpdatedAt]) VALUES (48, N'Order.Update', N'Cập nhật trạng thái đơn hàng', CAST(N'2025-12-07T14:07:59.763' AS DateTime), CAST(N'2025-12-07T14:07:59.763' AS DateTime))
SET IDENTITY_INSERT [dbo].[Permissions] OFF
GO
SET IDENTITY_INSERT [dbo].[Promotions] ON 

INSERT [dbo].[Promotions] ([PromotionID], [Name], [TypeID], [DiscountPercent], [StartDate], [EndDate], [MinPurchaseAmount], [GiftBookID], [CreatedAt], [UpdatedAt], [IsActive]) VALUES (1, N'Giảm 10% cho hóa đơn trên 100.000đ', 1, CAST(10.00 AS Decimal(5, 2)), CAST(N'2025-12-01T18:01:43.837' AS DateTime), CAST(N'2026-01-30T18:01:43.837' AS DateTime), CAST(100000.00 AS Decimal(18, 2)), NULL, CAST(N'2025-12-03T18:02:22.957' AS DateTime), NULL, 1)
INSERT [dbo].[Promotions] ([PromotionID], [Name], [TypeID], [DiscountPercent], [StartDate], [EndDate], [MinPurchaseAmount], [GiftBookID], [CreatedAt], [UpdatedAt], [IsActive]) VALUES (2, N'Tặng truyện Mắt Biếc cho hóa đơn trên 200.000đ', 3, NULL, CAST(N'2025-12-03T18:02:43.330' AS DateTime), CAST(N'2026-01-30T18:02:43.330' AS DateTime), CAST(200000.00 AS Decimal(18, 2)), 5, CAST(N'2025-12-03T18:04:40.560' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[Promotions] OFF
GO
SET IDENTITY_INSERT [dbo].[Publishers] ON 

INSERT [dbo].[Publishers] ([PublisherID], [Name], [Address], [CreatedAt], [UpdatedAt], [Description], [Email], [ImageUrl], [Phone], [Website]) VALUES (1, N'NXB Văn Học', NULL, CAST(N'2025-12-03T17:35:11.537' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Publishers] ([PublisherID], [Name], [Address], [CreatedAt], [UpdatedAt], [Description], [Email], [ImageUrl], [Phone], [Website]) VALUES (2, N'NXB Lao Động', NULL, CAST(N'2025-12-03T17:35:40.913' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Publishers] ([PublisherID], [Name], [Address], [CreatedAt], [UpdatedAt], [Description], [Email], [ImageUrl], [Phone], [Website]) VALUES (3, N'NXB Trẻ', NULL, CAST(N'2025-12-03T17:36:17.490' AS DateTime), CAST(N'2025-12-08T07:46:24.917' AS DateTime), NULL, NULL, N'cb464911-6972-4fa8-90f2-d83b69e590c1_nxbtre,jpg.jfif', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Publishers] OFF
GO
INSERT [dbo].[RolePermissions] ([RoleID], [PermissionID], [PermissionId1], [AppRoleId]) VALUES (N'06bf6279-d88c-4c78-b935-a7ccc5342e61', 87, NULL, NULL)
INSERT [dbo].[RolePermissions] ([RoleID], [PermissionID], [PermissionId1], [AppRoleId]) VALUES (N'558f293e-9d6a-4008-89e9-f61c06b778ec', 46, NULL, NULL)
INSERT [dbo].[RolePermissions] ([RoleID], [PermissionID], [PermissionId1], [AppRoleId]) VALUES (N'558f293e-9d6a-4008-89e9-f61c06b778ec', 47, NULL, NULL)
GO
INSERT [dbo].[Roles] ([Id], [Description], [Salary], [CreatedAt], [UpdatedAt], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'06bf6279-d88c-4c78-b935-a7ccc5342e61', NULL, CAST(0.00 AS Decimal(18, 2)), CAST(N'2025-12-08T13:36:53.5889758' AS DateTime2), CAST(N'2025-12-08T13:37:01.8007406' AS DateTime2), N'Khuyến Mãi A', N'KHUYẾN MÃI A', N'43d34251-3264-4da0-aa89-f13688337e15')
INSERT [dbo].[Roles] ([Id], [Description], [Salary], [CreatedAt], [UpdatedAt], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'558f293e-9d6a-4008-89e9-f61c06b778ec', NULL, CAST(1000.00 AS Decimal(18, 2)), CAST(N'2025-12-08T16:08:25.7081863' AS DateTime2), CAST(N'2025-12-08T16:09:02.3208195' AS DateTime2), N'abc', N'ABC', N'27dc0164-68c6-45a0-8d76-4339913e21fc')
INSERT [dbo].[Roles] ([Id], [Description], [Salary], [CreatedAt], [UpdatedAt], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'8ca9d723-804d-46c2-90b3-7684550ce132', NULL, CAST(25000.00 AS Decimal(18, 2)), CAST(N'2025-12-03T17:57:33.4167302' AS DateTime2), CAST(N'2025-12-08T13:38:36.4749624' AS DateTime2), N'Nhân viên', N'NHÂN VIÊN', N'57f72645-6c74-4655-81d7-e0a95bd385ae')
GO
INSERT [dbo].[SupplierBooks] ([SupplierID], [BookID], [DefaultCostPrice]) VALUES (1, 1, CAST(115000.00 AS Decimal(18, 2)))
INSERT [dbo].[SupplierBooks] ([SupplierID], [BookID], [DefaultCostPrice]) VALUES (1, 2, CAST(45000.00 AS Decimal(18, 2)))
INSERT [dbo].[SupplierBooks] ([SupplierID], [BookID], [DefaultCostPrice]) VALUES (1, 10, CAST(45000.00 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([SupplierID], [Name], [ContactInfo], [Address], [CreatedAt], [UpdatedAt], [IsActive]) VALUES (1, N'FAHASA', N'fahasa@book.com', N'60–62 Lê Lợi, Phường Sài Gòn, Quận 1, TP.HCM', NULL, CAST(N'2025-12-07T08:35:14.870' AS DateTime), 1)
INSERT [dbo].[Suppliers] ([SupplierID], [Name], [ContactInfo], [Address], [CreatedAt], [UpdatedAt], [IsActive]) VALUES (2, N'Phương Nam Book', N'phuongnam@book.com', N'940 đường Ba tháng Hai, Phường 15, Quận 11, TP.HCM', NULL, CAST(N'2025-12-07T08:31:51.977' AS DateTime), 1)
INSERT [dbo].[Suppliers] ([SupplierID], [Name], [ContactInfo], [Address], [CreatedAt], [UpdatedAt], [IsActive]) VALUES (3, N'Nhã Nam', N'nhanam@gmail.com', N'Đường sách Nguyễn Văn Bình, Quận 1, TP.HCM', CAST(N'2025-12-03T17:39:37.357' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
GO
INSERT [dbo].[UserRoles] ([UserId], [RoleId]) VALUES (N'1aa5bcbf-cac7-4c8e-aedc-d99616967fdb', N'558f293e-9d6a-4008-89e9-f61c06b778ec')
INSERT [dbo].[UserRoles] ([UserId], [RoleId]) VALUES (N'3e38138c-cacb-4bad-9b9d-7d988da03f79', N'8ca9d723-804d-46c2-90b3-7684550ce132')
INSERT [dbo].[UserRoles] ([UserId], [RoleId]) VALUES (N'59e8bcc0-6266-4ad4-858f-9451ca768e22', N'8ca9d723-804d-46c2-90b3-7684550ce132')
GO
/****** Object:  Index [IX_BookCategories_CategoryID]    Script Date: 12/10/2025 5:26:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_BookCategories_CategoryID] ON [dbo].[BookCategories]
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BookPromotions_BookID]    Script Date: 12/10/2025 5:26:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_BookPromotions_BookID] ON [dbo].[BookPromotions]
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BookPromotions_PromotionID]    Script Date: 12/10/2025 5:26:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_BookPromotions_PromotionID] ON [dbo].[BookPromotions]
(
	[PromotionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BookRatings_BookId]    Script Date: 12/10/2025 5:26:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_BookRatings_BookId] ON [dbo].[BookRatings]
(
	[BookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_BookRatings_UserId]    Script Date: 12/10/2025 5:26:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_BookRatings_UserId] ON [dbo].[BookRatings]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Books_AuthorID]    Script Date: 12/10/2025 5:26:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_Books_AuthorID] ON [dbo].[Books]
(
	[AuthorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Books_PublisherID]    Script Date: 12/10/2025 5:26:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_Books_PublisherID] ON [dbo].[Books]
(
	[PublisherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Code_index_0]    Script Date: 12/10/2025 5:26:37 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [Code_index_0] ON [dbo].[Code]
(
	[Entity] ASC,
	[Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Customer__5C7E359E320E9AE8]    Script Date: 12/10/2025 5:26:37 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__Customer__5C7E359E320E9AE8] ON [dbo].[Customers]
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Customer__A9D10534848515B3]    Script Date: 12/10/2025 5:26:37 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__Customer__A9D10534848515B3] ON [dbo].[Customers]
(
	[Email] ASC
)
WHERE ([Email] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ExportDetails_BookID]    Script Date: 12/10/2025 5:26:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_ExportDetails_BookID] ON [dbo].[ExportDetails]
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ExportDetails_ExportID]    Script Date: 12/10/2025 5:26:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_ExportDetails_ExportID] ON [dbo].[ExportDetails]
(
	[ExportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ExportTickets_ReferenceID]    Script Date: 12/10/2025 5:26:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_ExportTickets_ReferenceID] ON [dbo].[ExportTickets]
(
	[ReferenceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ExportTickets_UserID]    Script Date: 12/10/2025 5:26:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_ExportTickets_UserID] ON [dbo].[ExportTickets]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ExportTi__6899391801847116]    Script Date: 12/10/2025 5:26:37 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__ExportTi__6899391801847116] ON [dbo].[ExportTickets]
(
	[DocumentNumber] ASC
)
WHERE ([DocumentNumber] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ImportDetails_BookID]    Script Date: 12/10/2025 5:26:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_ImportDetails_BookID] ON [dbo].[ImportDetails]
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ImportDetails_ImportID]    Script Date: 12/10/2025 5:26:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_ImportDetails_ImportID] ON [dbo].[ImportDetails]
(
	[ImportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ImportTickets_PaymentMethodID]    Script Date: 12/10/2025 5:26:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_ImportTickets_PaymentMethodID] ON [dbo].[ImportTickets]
(
	[PaymentMethodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ImportTickets_SupplierID]    Script Date: 12/10/2025 5:26:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_ImportTickets_SupplierID] ON [dbo].[ImportTickets]
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ImportTickets_UserID]    Script Date: 12/10/2025 5:26:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_ImportTickets_UserID] ON [dbo].[ImportTickets]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ImportTi__68993918E68FB85E]    Script Date: 12/10/2025 5:26:37 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__ImportTi__68993918E68FB85E] ON [dbo].[ImportTickets]
(
	[DocumentNumber] ASC
)
WHERE ([DocumentNumber] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderDetails_BookID]    Script Date: 12/10/2025 5:26:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderDetails_BookID] ON [dbo].[OrderDetails]
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderDetails_OrderID]    Script Date: 12/10/2025 5:26:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderDetails_OrderID] ON [dbo].[OrderDetails]
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Orders_CustomerID]    Script Date: 12/10/2025 5:26:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_CustomerID] ON [dbo].[Orders]
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_PaymentMethodID]    Script Date: 12/10/2025 5:26:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_PaymentMethodID] ON [dbo].[Orders]
(
	[PaymentMethodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_PromotionID]    Script Date: 12/10/2025 5:26:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_PromotionID] ON [dbo].[Orders]
(
	[PromotionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Orders_UserID]    Script Date: 12/10/2025 5:26:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_UserID] ON [dbo].[Orders]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Permissi__0FFDA357FF4F38A2]    Script Date: 12/10/2025 5:26:37 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__Permissi__0FFDA357FF4F38A2] ON [dbo].[Permissions]
(
	[PermissionName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Promotions_GiftBookID]    Script Date: 12/10/2025 5:26:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_Promotions_GiftBookID] ON [dbo].[Promotions]
(
	[GiftBookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Promotions_TypeID]    Script Date: 12/10/2025 5:26:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_Promotions_TypeID] ON [dbo].[Promotions]
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RolePermissions_AppRoleId]    Script Date: 12/10/2025 5:26:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_RolePermissions_AppRoleId] ON [dbo].[RolePermissions]
(
	[AppRoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RolePermissions_PermissionID]    Script Date: 12/10/2025 5:26:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_RolePermissions_PermissionID] ON [dbo].[RolePermissions]
(
	[PermissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RolePermissions_PermissionId1]    Script Date: 12/10/2025 5:26:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_RolePermissions_PermissionId1] ON [dbo].[RolePermissions]
(
	[PermissionId1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SupplierBooks_BookID]    Script Date: 12/10/2025 5:26:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_SupplierBooks_BookID] ON [dbo].[SupplierBooks]
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Authors] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[BookRatings] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Books] ADD  CONSTRAINT [DF__Books__StockQuan__6EF57B66]  DEFAULT ((0)) FOR [StockQuantity]
GO
ALTER TABLE [dbo].[Books] ADD  CONSTRAINT [DF__Books__LowStockT__6FE99F9F]  DEFAULT ((10)) FOR [LowStockThreshold]
GO
ALTER TABLE [dbo].[Books] ADD  CONSTRAINT [DF__Books__CreatedAt__70DDC3D8]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Books] ADD  CONSTRAINT [DF__Books__IsDeleted__71D1E811]  DEFAULT (CONVERT([bit],(0))) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Books] ADD  DEFAULT ((0.0000000000000000e+000)) FOR [AverageRating]
GO
ALTER TABLE [dbo].[Books] ADD  DEFAULT ((0)) FOR [TotalRatings]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Code] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ('') FOR [Phone]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[ExportDetails] ADD  DEFAULT ((0.0)) FOR [Subtotal]
GO
ALTER TABLE [dbo].[ExportTickets] ADD  DEFAULT (getdate()) FOR [Date]
GO
ALTER TABLE [dbo].[ExportTickets] ADD  DEFAULT ((0)) FOR [TotalQuantity]
GO
ALTER TABLE [dbo].[ExportTickets] ADD  DEFAULT (N'Pending') FOR [Status]
GO
ALTER TABLE [dbo].[ExportTickets] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ImportDetails] ADD  DEFAULT ((0.0)) FOR [Subtotal]
GO
ALTER TABLE [dbo].[ImportDetails] ADD  DEFAULT ((0.0)) FOR [Discount]
GO
ALTER TABLE [dbo].[ImportTickets] ADD  DEFAULT (getdate()) FOR [Date]
GO
ALTER TABLE [dbo].[ImportTickets] ADD  DEFAULT ((0)) FOR [TotalQuantity]
GO
ALTER TABLE [dbo].[ImportTickets] ADD  DEFAULT ((0.0)) FOR [TotalCost]
GO
ALTER TABLE [dbo].[ImportTickets] ADD  DEFAULT (N'Pending') FOR [Status]
GO
ALTER TABLE [dbo].[ImportTickets] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF__Orders__OrderDat__1AD3FDA4]  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF__Orders__Discount__1BC821DD]  DEFAULT ((0.0)) FOR [DiscountAmount]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF__Orders__CreatedA__1CBC4616]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Permissions] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Promotions] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Promotions] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Publishers] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SupplierBooks] ADD  DEFAULT ((0.0)) FOR [DefaultCostPrice]
GO
ALTER TABLE [dbo].[Suppliers] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Suppliers] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (N'') FOR [FullName]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsDefaultPassword]
GO
ALTER TABLE [dbo].[BookCategories]  WITH CHECK ADD  CONSTRAINT [FK__BookCateg__BookI__06CD04F7] FOREIGN KEY([BookID])
REFERENCES [dbo].[Books] ([BookID])
GO
ALTER TABLE [dbo].[BookCategories] CHECK CONSTRAINT [FK__BookCateg__BookI__06CD04F7]
GO
ALTER TABLE [dbo].[BookCategories]  WITH CHECK ADD  CONSTRAINT [FK__BookCateg__Categ__07C12930] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[BookCategories] CHECK CONSTRAINT [FK__BookCateg__Categ__07C12930]
GO
ALTER TABLE [dbo].[BookPromotions]  WITH CHECK ADD  CONSTRAINT [FK__BookPromo__BookI__0A9D95DB] FOREIGN KEY([BookID])
REFERENCES [dbo].[Books] ([BookID])
GO
ALTER TABLE [dbo].[BookPromotions] CHECK CONSTRAINT [FK__BookPromo__BookI__0A9D95DB]
GO
ALTER TABLE [dbo].[BookPromotions]  WITH CHECK ADD  CONSTRAINT [FK__BookPromo__Promo__0B91BA14] FOREIGN KEY([PromotionID])
REFERENCES [dbo].[Promotions] ([PromotionID])
GO
ALTER TABLE [dbo].[BookPromotions] CHECK CONSTRAINT [FK__BookPromo__Promo__0B91BA14]
GO
ALTER TABLE [dbo].[BookRatings]  WITH CHECK ADD  CONSTRAINT [FK_BookRatings_Books_BookId] FOREIGN KEY([BookId])
REFERENCES [dbo].[Books] ([BookID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BookRatings] CHECK CONSTRAINT [FK_BookRatings_Books_BookId]
GO
ALTER TABLE [dbo].[BookRatings]  WITH CHECK ADD  CONSTRAINT [FK_BookRatings_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BookRatings] CHECK CONSTRAINT [FK_BookRatings_Users_UserId]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK__Books__AuthorID__04E4BC85] FOREIGN KEY([AuthorID])
REFERENCES [dbo].[Authors] ([AuthorID])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK__Books__AuthorID__04E4BC85]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK__Books__Publisher__05D8E0BE] FOREIGN KEY([PublisherID])
REFERENCES [dbo].[Publishers] ([PublisherID])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK__Books__Publisher__05D8E0BE]
GO
ALTER TABLE [dbo].[ExportDetails]  WITH CHECK ADD  CONSTRAINT [FK__ExportDet__BookI__19DFD96B] FOREIGN KEY([BookID])
REFERENCES [dbo].[Books] ([BookID])
GO
ALTER TABLE [dbo].[ExportDetails] CHECK CONSTRAINT [FK__ExportDet__BookI__19DFD96B]
GO
ALTER TABLE [dbo].[ExportDetails]  WITH CHECK ADD  CONSTRAINT [FK__ExportDet__Expor__18EBB532] FOREIGN KEY([ExportID])
REFERENCES [dbo].[ExportTickets] ([ExportID])
GO
ALTER TABLE [dbo].[ExportDetails] CHECK CONSTRAINT [FK__ExportDet__Expor__18EBB532]
GO
ALTER TABLE [dbo].[ExportTickets]  WITH CHECK ADD  CONSTRAINT [FK__ExportTic__Refer__17F790F9] FOREIGN KEY([ReferenceID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[ExportTickets] CHECK CONSTRAINT [FK__ExportTic__Refer__17F790F9]
GO
ALTER TABLE [dbo].[ExportTickets]  WITH CHECK ADD  CONSTRAINT [FK__ExportTic__UserI__17036CC0] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ExportTickets] CHECK CONSTRAINT [FK__ExportTic__UserI__17036CC0]
GO
ALTER TABLE [dbo].[ImportDetails]  WITH CHECK ADD  CONSTRAINT [FK__ImportDet__BookI__160F4887] FOREIGN KEY([BookID])
REFERENCES [dbo].[Books] ([BookID])
GO
ALTER TABLE [dbo].[ImportDetails] CHECK CONSTRAINT [FK__ImportDet__BookI__160F4887]
GO
ALTER TABLE [dbo].[ImportDetails]  WITH CHECK ADD  CONSTRAINT [FK__ImportDet__Impor__151B244E] FOREIGN KEY([ImportID])
REFERENCES [dbo].[ImportTickets] ([ImportID])
GO
ALTER TABLE [dbo].[ImportDetails] CHECK CONSTRAINT [FK__ImportDet__Impor__151B244E]
GO
ALTER TABLE [dbo].[ImportTickets]  WITH CHECK ADD  CONSTRAINT [FK__ImportTic__Payme__14270015] FOREIGN KEY([PaymentMethodID])
REFERENCES [dbo].[Code] ([CodeID])
GO
ALTER TABLE [dbo].[ImportTickets] CHECK CONSTRAINT [FK__ImportTic__Payme__14270015]
GO
ALTER TABLE [dbo].[ImportTickets]  WITH CHECK ADD  CONSTRAINT [FK__ImportTic__Suppl__1332DBDC] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Suppliers] ([SupplierID])
GO
ALTER TABLE [dbo].[ImportTickets] CHECK CONSTRAINT [FK__ImportTic__Suppl__1332DBDC]
GO
ALTER TABLE [dbo].[ImportTickets]  WITH CHECK ADD  CONSTRAINT [FK__ImportTic__UserI__123EB7A3] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ImportTickets] CHECK CONSTRAINT [FK__ImportTic__UserI__123EB7A3]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK__OrderDeta__BookI__114A936A] FOREIGN KEY([BookID])
REFERENCES [dbo].[Books] ([BookID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK__OrderDeta__BookI__114A936A]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK__OrderDeta__Order__10566F31] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK__OrderDeta__Order__10566F31]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK__Orders__Customer__0C85DE4D] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK__Orders__Customer__0C85DE4D]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK__Orders__PaymentM__0F624AF8] FOREIGN KEY([PaymentMethodID])
REFERENCES [dbo].[Code] ([CodeID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK__Orders__PaymentM__0F624AF8]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK__Orders__Promotio__0E6E26BF] FOREIGN KEY([PromotionID])
REFERENCES [dbo].[Promotions] ([PromotionID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK__Orders__Promotio__0E6E26BF]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK__Orders__UserID__0D7A0286] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK__Orders__UserID__0D7A0286]
GO
ALTER TABLE [dbo].[Promotions]  WITH CHECK ADD  CONSTRAINT [FK__Promotion__GiftB__08B54D69] FOREIGN KEY([GiftBookID])
REFERENCES [dbo].[Books] ([BookID])
GO
ALTER TABLE [dbo].[Promotions] CHECK CONSTRAINT [FK__Promotion__GiftB__08B54D69]
GO
ALTER TABLE [dbo].[Promotions]  WITH CHECK ADD  CONSTRAINT [FK__Promotion__TypeI__09A971A2] FOREIGN KEY([TypeID])
REFERENCES [dbo].[Code] ([CodeID])
GO
ALTER TABLE [dbo].[Promotions] CHECK CONSTRAINT [FK__Promotion__TypeI__09A971A2]
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK__RolePermi__Permi__02FC7413] FOREIGN KEY([PermissionID])
REFERENCES [dbo].[Permissions] ([PermissionID])
GO
ALTER TABLE [dbo].[RolePermissions] CHECK CONSTRAINT [FK__RolePermi__Permi__02FC7413]
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK__RolePermi__RoleI__02084FDA] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[RolePermissions] CHECK CONSTRAINT [FK__RolePermi__RoleI__02084FDA]
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK_RolePermissions_Permissions_PermissionId1] FOREIGN KEY([PermissionId1])
REFERENCES [dbo].[Permissions] ([PermissionID])
GO
ALTER TABLE [dbo].[RolePermissions] CHECK CONSTRAINT [FK_RolePermissions_Permissions_PermissionId1]
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK_RolePermissions_Roles_AppRoleId] FOREIGN KEY([AppRoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[RolePermissions] CHECK CONSTRAINT [FK_RolePermissions_Roles_AppRoleId]
GO
ALTER TABLE [dbo].[SupplierBooks]  WITH CHECK ADD  CONSTRAINT [FK__SupplierB__BookI__1BC821DD] FOREIGN KEY([BookID])
REFERENCES [dbo].[Books] ([BookID])
GO
ALTER TABLE [dbo].[SupplierBooks] CHECK CONSTRAINT [FK__SupplierB__BookI__1BC821DD]
GO
ALTER TABLE [dbo].[SupplierBooks]  WITH CHECK ADD  CONSTRAINT [FK__SupplierB__Suppl__1AD3FDA4] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Suppliers] ([SupplierID])
GO
ALTER TABLE [dbo].[SupplierBooks] CHECK CONSTRAINT [FK__SupplierB__Suppl__1AD3FDA4]
GO
USE [master]
GO
