@model BookstoreManagement.Models.AppUser

<form id="customerForm" asp-controller="Employee" asp-action="Create" method="post">

    <div class="mb-3">
        <label asp-for="FullName" class="form-label">Họ tên nhân viên</label>
        <input asp-for="FullName" class="form-control" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="PhoneNumber" class="form-label">Số điện thoại</label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label">Email</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Address" class="form-label">Địa chỉ</label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Chức vụ</label>
        <select class="form-select" name="selectedRole" required>
            <option value="">-- Chọn chức vụ --</option>
            <option value="Employee">Nhân viên</option>
            @if (User.IsInRole("Admin"))
            {
                <option value="Manager">Quản lý</option>
            }
        </select>
    </div>


    @* POST đến Action Create trong CustomerController *@
    <div class="d-flex flex-row justify-content-around gap-3">
        <button type="button" class="btn btn-secondary w-100 cancel-button border border-secondary rounded"
            data-bs-dismiss="modal">Hủy</button>
        <button type="submit" class="btn w-100">Lưu</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}