@{
    Layout = "_Layout";
    ViewData["Title"] = "Cài đặt tài khoản";
}

<h2>@ViewData["Title"]</h2>
<p>Đây là trang cài đặt.</p>
<form asp-controller="Account" asp-action="Logout" method="post" class=" ">
    <button type="submit"
        class="logout-button btn btn-danger text-light px-4 py-2 d-flex flex-row align-items-center justify-content-center gap-2"
        style="text-decoration:none;">
        <i class="fa-solid fa-arrow-right-from-bracket" style="font-size: 24px"></i>
        Đăng xuất
    </button>
</form>